/* ======== STYLING ========= */

body {
    background: #2c3e50;
}

#menu-bar {
    position: relative;
    background: #7f8c8d;
    height: 120px;
    width: 100%;
}

#nirmalogo {
    position: absolute;
    height: 75px;
    width: 170px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

#roboconlogo {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 1400px;
    margin-top: 10px;
    display: inline-block;
}

#home {
    position: absolute;
    margin-left: 200px;
    margin-top: 30px;
    font-size: +20;
    display: inline-block;
    width: 120px;
    color: black;
    background: initial;
    text-align: center;
    transition: 0.5s;
}

#home:hover {
    color: white;
    margin-top: 20px;
    background: #000000;
    padding-top: 1%;
    padding-bottom: 2%;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

#team_nirma {
    position: absolute;
    margin-left: 325px;
    margin-top: 30px;
    font-size: +20;
    width: 120px;
    display: inline-block;
    color: black;
    background: initial;
    text-align: center;
    transition: 0.5s;
}

#team_nirma:hover {
    color: white;
    margin-top: 20px;
    background: #000000;
    padding-top: 1%;
    padding-bottom: 2%;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

#about_us {
    position: absolute;
    margin-left: 450px;
    margin-top: 30px;
    font-size: +20;
    width: 120px;
    display: inline-block;
    color: black;
    background: initial;
    text-align: center;
    transition: 0.5s;
}

#about_us:hover {
    color: white;
    margin-top: 20px;
    background: #000000;
    border-bottom: 3px solid white;
    padding-top: 1%;
    padding-bottom: 2%;
    transition: 0.5s;
}

#contact_us {
    position: absolute;
    margin-left: 575px;
    margin-top: 30px;
    font-size: +20;
    width: 120px;
    display: inline-block;
    color: black;
    background: initial;
    text-align: center;
    transition: 0.5s;
}

#contact_us:hover {
    color: white;
    margin-top: 20px;
    background: #000000;
    border-bottom: 3px solid white;
    padding-top: 1%;
    padding-bottom: 2%;
    transition: 0.5s;
}

#login_box {
    background: #eeeeee;
    width: 30%;
    margin-left: 35%;
    border-radius: 15px;
    margin-top: 11%;
    position: absolute;
    box-shadow: 2px 2px 2px #212121;
    transition: 0.5s;
}

#login_box:hover {
    box-shadow: 7px 7px 5px #212121;
    transition: 0.5s;
}

input {
    margin-top: 2%;
    padding-left: 5%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #9E9E9E;
}

#reg_button {
    margin-top: 5%;
    width: 20%;
    height: 13%;
    border-radius: 30px;
    border: 1px solid #42A5F5;
    transition: 0.5s;
    outline: none;
}

#reg_button:hover {
    background: #42A5F5;
    margin-top: 5%;
    color: #ffffff;
    width: 20%;
    height: 13%;
    border-radius: 15px;
    border: 1px solid #bdbdbd;
    transition: 0.5s;
}

#signup {
    color: #42A5F5;
}

.error {
    width: 92%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}